{% extends "base.html" %}

{% block content %}
<br><br>
<br>
        <h3>Enter your details to get notified once the price of stock increases:</h3>
        <br>
        <form method="POST" action="{{ url_for('process_form') }}">
            <label for="tickerSymbol">Ticker Symbol:</label>
            <input type="text" id="tickerSymbol" name="tickerSymbol" placeholder="MSFT,META,^GSPC.. etc.">

            <label for="checkFrequency">How frequently to check for price changes?:</label>
                <select id="period" name="period">
                    <option value="5">Every 5 second</option>
                    <option value="60">Every minute</option>
                    <option value="360">Every hour</option>
                    <option value="1440">Every day</option>
                </select>

            <label for="ask">At what price did you buy? (or Threshold):</label>
                <input type="text" id="ask" name="ask">

            <label for="email">Email:</label>
                <input type="text" id="email" name="email">

            <label for="sms">Mobile Number:</label>
                <input type="text" id="sms" name="sms" placeholder="'+97798XXXXXXXX'">
            
            <label for="sub">Subscription Type:</label>
                <select id="sub" name="sub">
                    <option value="email">Email</option>
                    <option value="sms">SMS</option>
                </select>
            <!-- <label for="bid">Bid Threshold:</label>
                <input type="text" id="bid" name="bid"> -->

            <input type="submit">
        </form>

{% endblock %}