{% extends "base.html" %}

{% block content %}
<br><br>
<center>
    <marquee scrollamount="15">Welcome to homepage. You can search price history in this page with ticker symbol and period.</marquee>
</center>
<br><br>
    <h2>Enter the ticker symbol and period</h2>
    <form method="POST" action="{{ url_for('indexpage') }}">
        <label for="tickerSymbol">Ticker Symbol:</label>
        <input type="text" id="tickerSymbol" name="tickerSymbol" placeholder="MSFT,META,^GSPC.. etc.">

        <label for="period">Period:</label>
        <select id="period" name="period">
            <option value="1d">1 day</option>
            <option value="4d">4 days</option>
            <option value="7d">7 days</option>
            <option value="1mo">1 month</option>
            <option value="2mo">2 month</option>
            <option value="3mo">3 month</option>
            <option value="6mo">6 month</option>
            <option value="1y">1 year</option>
            <option value="2y">2 year</option>
        </select>
        <input type="submit">
    </form>
    <br><br>

    <hr><br><br>
        <h2>{{ info.longName }}</h2>
        <p>Symbol: {{ info.symbol }}</p>
        <p>Current Price: {{ info.currentPrice }}</p>
        <!-- <p>Ask: {{ info.ask }}</p> -->
        <br>
        <h3>Price History Details</h3>
        <table>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
        {% for index, row in history.iterrows() %}
        <tr>
            <td>{{ index.strftime('%Y-%m-%d') }}</td>
            <td>{{ row['Open'] }}</td>
            <td>{{ row['High'] }}</td>
            <td>{{ row['Low'] }}</td>
            <td>{{ row['Close'] }}</td>
            <td>{{ row['Volume'] }}</td>
        </tr>
        {% endfor %}
        </table>
{% endblock %}